*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-section{
    max-width: 1440px;
    margin: 0 auto;
    background-color: antiquewhite;
}

.card-section>h2{
    text-align: center;
    padding: 20px;
    color: #333;
}

.card-container{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
    gap: 20px;
}
.card-container .card{
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
}

.card> img{
    width: 100%;
    height: 120px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 2px solid black;
}

.card> p{
    text-align: center;
    font-size: 18px;
    color: #555;
    padding: 5px;
}